<table class="students">
<tr>
<th>Name</th>
<th>Age</th>
<th>Marks</th>
</tr>
<tr>  
<td>{{#each name}}<li>{{this}}</li>{{/each}}</td>
<td>{{#each age}}<li>{{this}}</li>{{/each}}</td>
<td>{{#each marks}}<li>{{this}}</li>{{/each}}</td>
</tr>
</table>