<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/style.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trial</title>
</head>
<body>
    <img src="/logo.png" class="logo">
    <h1 class="heading"> {{heading}} </h1>
    <div class="data">
        <Form>
            ID: <input type="text" autocomplete="off" id="id" value="" placeholder="Student ID">
            Name: <input type="text" autocomplete="off" id="name" value="" placeholder="Name">
            Age: <input type="text" autocomplete="off" id="age" value="" placeholder="Age">
            Marks: <input type="text" autocomplete="off" id="marks" value="" placeholder="">
            <input type="submit" id="submitBtn" value = "Submit" />
        </Form>
       
    </div>
    <div class="info">
        <br/>
            {{> students}}
    </div>
</body>
</html>